<mat-card style="display: flex; justify-content: space-between">
  <div style="width: 15%; padding-right: 20px">
    <div style="padding: 10px;margin: 5px">
      Contrato vigente: <b>{{currentContract}}</b>
    </div>
    <div style="padding: 10px;margin: 5px" class="maxima-contrato">
      Máxima contrato: <b>{{maxPrice|number:'1.2-2'}}</b>
    </div>
    <div style="padding: 10px; margin: 5px" class="minima-contrato">
      Mínima contrato: <b>{{minPrice|number:'1.2-2'}}</b>
    </div>

    <mat-card style="align-items: center;justify-content: center">
      <div class="ajuste centralizado" style="padding: 10px;">Pontos para observar</div>
      <div *ngFor="let variation of variations">
        <div class="variacao-ajuste-fechamento">
          <div>{{variation.value|number:'1.2-2'}}</div>
        </div>
      </div>
    </mat-card>
  </div>

  <mat-table [dataSource]="dataSource" style="width: 75%; padding-right: 20px" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="day">
      <mat-header-cell *matHeaderCellDef> Data</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.day | date:'dd/MM/yyyy':'UTC' }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="instrument">
      <mat-header-cell *matHeaderCellDef> Contrato</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.instrument}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="first_price">
      <mat-header-cell *matHeaderCellDef> Abertura</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.first_price|number:'1.2-2'}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="min_price">
      <mat-header-cell *matHeaderCellDef> Mínima</mat-header-cell>
      <mat-cell *matCellDef="let element" [class]="element.min_price == minPrice ? 'minima-contrato':''"> {{element.min_price|number:'1.2-2'}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="max_price">
      <mat-header-cell *matHeaderCellDef> Máxima</mat-header-cell>
      <mat-cell *matCellDef="let element" [class]="element.max_price == maxPrice ? 'maxima-contrato':''"> {{element.max_price|number:'1.2-2'}}</mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="last_price">
      <mat-header-cell *matHeaderCellDef> Fechamento</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index" [class]="i == 0 ? BACKGROUND_COLOR_LAST_PRICE:''">
        {{element.last_price|number:'1.2-2'}}
      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="ajuste">
      <mat-header-cell *matHeaderCellDef> Ajuste</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index" [class]="i == 0 ? 'ajuste':''">
        {{ element.ajuste |number:'1.2-2'}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-card style="width: 12%;">
    <div class="ajuste  centralizado" style="padding: 10px;">Variações ajuste</div>
    <div *ngFor="let variation of variationsAjuste" [class.ajuste1]="variation.numberVariation < 2 && variation.numberVariation > -2">
      <div class="variacao-ajuste-fechamento">
        <!--        <div>{{variation.label}}</div>-->
        <div>{{variation.numberVariation|number:'1.1-1'}}%</div>
        <div>{{variation.value|number:'1.2-2'}}</div>
      </div>
    </div>
  </mat-card>

  <mat-card style="width: 12%; align-items: center;justify-content: center">
    <div class="fechamento centralizado" style="padding: 10px;">Variações fechamento</div>
    <div *ngFor="let variation of variationsLastPrice" [class.fechamento1]="variation.numberVariation < 2 && variation.numberVariation > -2">
      <div class="variacao-ajuste-fechamento">
        <!--        <div>{{variation.label}}</div>-->
        <div>{{variation.numberVariation|number:'1.1-1'}}%</div>
        <div>{{variation.value|number:'1.2-2'}}</div>
      </div>
    </div>
  </mat-card>
</mat-card>
