<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.day}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Contrato </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.instrument}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef> Abertura </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.first_price}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef> Fechamento </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.last_price}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef> Mínima </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.min_price}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef> Máxima </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.max_price}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef> Ajuste </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.ajuste}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
