table {
  width: 100%;
}

.minima-contrato {
  background-color: #fa7c01;
}

.maxima-contrato {
  background-color: #3c96d4;
}

.fechamento {
  background-color: rgba(0, 0, 0, 1);
}

.fechamento05 {
  background-color: rgba(0, 0, 0, 0.6);
}

.fechamento1 {
  background-color: rgba(0, 0, 0, 0.35);
}

.ajuste {
  background-color: rgba(0, 0, 139);
}

.ajuste05 {
  background-color: rgba(0, 0, 139, 0.6);
}

.ajuste1 {
  background-color: rgba(0, 0, 139, 0.35);
}

.maior-liquidez-di {
  background-color: #64d0cb61
}

.highlight {
  background-color: #fbfbfb2e
}

.variacao-ajuste-fechamento {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.centralizado {
  align-items: center;
  justify-content: center;
  display: flex;
}
