<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>IR para day trade</h1>
    <span class="menu-spacer"></span>
    <div class="app-component--right-buttons">
      <button *ngIf="adminMode && !atualizando" mat-button (click)="downloadData()">
        <mat-icon>update</mat-icon>&nbsp;Atualizar
      </button>
      <button *ngIf="adminMode && atualizando" mat-button>
        <mat-icon class="spin-icon">refresh</mat-icon>&nbsp;Atualizando...
      </button>
      <div class="app-component--photo" *ngIf="isLogged()">
        <mat-icon [matMenuTriggerFor]="menu">account_circle</mat-icon>
        <mat-menu #menu="matMenu">
          <div> Olá, {{getFirstName()}} </div>
          <button mat-button (click)="toggleTheme()">
            <mat-icon>sync_alt</mat-icon>
            Trocar tema
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container style="flex: 1">
  <mat-sidenav #sidenav fixedInViewport="false" mode="over" opened="false">
    <mat-nav-list>

      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/dolar'">
        <mat-icon>attach_money</mat-icon>
        Fechamento dólar </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/stocks'">
        <mat-icon>receipt</mat-icon>
        Ações </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/ir-calculator'">
        <mat-icon>cloud_upload</mat-icon>
        Adicionar notas </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/ir-list'">
        <mat-icon>calculate</mat-icon>
        Resultados por dia
      </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/ir-month-list'">
        <mat-icon>calculate</mat-icon>
        Resultados por mês
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
