@import '../styles';

.spin-icon {
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.app-background-flex {
  display: flex;
  flex-direction: column;
  flex: 1;
}

mat-nav-list mat-icon {
  margin-right: .5em;
}


.app-component--right-buttons {
  position: absolute;
  right: 10px;
  display: flex
}

.app-component--photo {
  height: 2em;
  width: 2em;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1em;
  cursor: pointer;
}
