<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Informações mercado</h1>
    <span class="menu-spacer"></span>
    <button *ngIf="!atualizando" style="position: absolute;right: 10px" mat-button (click)="downloadData()">
      <mat-icon>update</mat-icon>&nbsp;Atualizar
    </button>
    <button *ngIf="atualizando" style="position: absolute;right: 10px" mat-button>
      <mat-icon class="spin-icon">refresh</mat-icon>&nbsp;Atualizando...
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav fixedInViewport="true">
    <mat-nav-list>

      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/dolar'">
        <mat-icon>attach_money</mat-icon>
        Fechamento dólar </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/stocks'">
        <mat-icon>receipt</mat-icon>
        Ações </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/ir-calculator'">
        <mat-icon>calculate</mat-icon>
        Calculadora de IR </a>
      <a mat-list-item (click)="sidenav.toggle()" href="">
        <mat-icon>close</mat-icon>
        Fechar</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
