@import '~@angular/material/theming';
@import '../../styles';

.processando {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: large;

  .mat-spinner {
    margin-bottom: 20px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 40px;
}

.botao-importar {
  font-size: xx-large;
  display: flex;
  height: 1.5em;
  align-items: flex-end;
  justify-content: flex-end;

  button {
    margin: 1em;
  }
}

.margin-50 {
  margin-bottom: 50px;
}

.border-1 {
  border: 1px solid white;
}

.imposto-devido {
  color: map-get($mat-teal, 50);;
}

.titulo-imposto {
  background: map-get($mat-teal, 800);
  font-size: x-large;
}

.coluna-imposto {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.linha-imposto {
  display: flex;
  flex-direction: row;
  padding: 20px;

  align-items: center;
  justify-content: space-between;
}

.upload-all-page {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: .5;
  z-index: 10000;
}

.uploadfilecontainer {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="18px" height="18px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM19 18H6c-2.21 0-4-1.79-4-4 0-2.05 1.53-3.76 3.56-3.97l1.07-.11.5-.95C8.08 7.14 9.94 6 12 6c2.62 0 4.88 1.86 5.39 4.43l.3 1.5 1.53.11c1.56.1 2.78 1.41 2.78 2.96 0 1.65-1.35 3-3 3zM8 13h2.55v3h2.9v-3H16l-4-4z"/></svg>');
  background-repeat: no-repeat;
  background-size: 6em;
  background-position: bottom;
  background-color: map-get($mat-teal, 900);
  height: 7em;
  color: #FFFFFF;
  justify-content: center;
  display: flex;
  font-size: xx-large;
  padding: 20px;
  text-align: center;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: map-get($mat-teal, 500) !important;
  opacity: 0.9;
}

.files-list-container {
  margin: 2em 0 2em 0;
}

.files-list {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  border-bottom: 1px dashed;
  padding: 5px;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
  color: red;
}

.files-list .delete-file img {
  width: 30px;
}
