/* You can add global styles to this file, and also import other style files */

html {
  height: 100vh;
  display: flex;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  display: flex;
  flex: 1;
}

.app-root-flex {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.mat-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-header-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-teal, 900);

$accent: mat-palette($mat-deep-orange, A700);

$theme: mat-light-theme($primary, $accent);
$font-color: black;
$primary-text: map-get($mat-deep-orange, A700);
$secondary-text: map-get($mat-deep-orange, 50);

//dark-theme
$font-color: map-get($mat-deep-orange, 50);
$accent: mat-palette($mat-deep-orange, 300);

$primary-text: map-get($mat-deep-orange, 300);;
$secondary-text: map-get($mat-deep-orange, 50);

$theme: mat-dark-theme($primary, $accent);
//dark-theme



@include angular-material-theme($theme);

.mat-form-field-wrapper {
  @extend .mat-form-field-wrapper;
  flex: 1;
  display: flex;
}

input {
  color: $font-color !important;
}
